.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-19 {
  font-size: 19px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-21 {
  font-size: 21px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-23 {
  font-size: 23px !important;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}
.fs-27 {
  font-size: 27px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}
.fs-32 {
  font-size: 32px;
}
.fs-34 {
  font-size: 34px;
}
.fs-35 {
  font-size: 35px;
}
.fs-40 {
  font-size: 40px;
}
.fs-45 {
  font-size: 45px;
}
.fs-50 {
  font-size: 50px;
}
.fs-60 {
  font-size: 60px;
}
.fs-55 {
  font-size: 55px;
}
.fs-70 {
  font-size: 70px !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}

// font colors
.label-color-1 {
  color: $label-color-1 !important;
}
.label-color-2 {
  color: $label-color-2 !important;
}
.label-color-3 {
  color: $label-color-3 !important;
}
.label-color-4 {
  color: $label-color-4 !important;
}

.label-color-5 {
  color: $label-color-5 !important;
}
.label-color-6 {
  color: $label-color-6 !important;
}
.label-color-7 {
  color: $label-color-7 !important;
}
.label-color-8 {
  color: $label-color-8 !important;
}
.label-color-9 {
  color: $label-color-9 !important;
}
.label-color-10 {
  color: $label-color-10 !important;
}
.label-color-12 {
  color: $label-color-12 !important;
}
.label-color-13 {
  color: $label-color-13 !important;
}
.label-color-14 {
  color: $label-color-14 !important;
}
.label-color-15 {
  color: $label-color-15 !important;
}
.label-color-16 {
  color: $label-color-16 !important;
}
.label-color-17 {
  color: $label-color-17 !important;
}
.label-color-18 {
  color: $label-color-18 !important;
}
.label-color-19 {
  color: $label-color-19 !important;
}
.label-color-20 {
  color: $label-color-20 !important;
}
.label-color-21 {
  color: $label-color-21 !important;
}
.label-color-22 {
  color: $label-color-22 !important;
}
.label-color-23 {
  color: $label-color-23 !important;
}
.label-color-24 {
  color: $label-color-24 !important;
}
.label-color-25 {
  color: $label-color-25 !important;
}
.label-color-success {
  color: $label-color-success !important;
}
.label-color-danger {
  color: $label-color-danger !important;
}

// bg colors
.bg-color-1 {
  background: $bg-color-1;
}
.bg-color-2 {
  background: $bg-color-2;
}
.bg-color-3 {
  background: $bg-color-3;
}
.bg-color-4 {
  background: $bg-color-4;
}
.bg-color-5 {
  background: $bg-color-5;
}
.bg-color-6 {
  background: $bg-color-6;
}
.bg-color-7 {
  background: $bg-color-7;
}
.bg-color-8 {
  background: $bg-color-8;
}
.bg-color-9 {
  background: $bg-color-9;
}
.bg-color-10 {
  background: $bg-color-10;
}

// border-color
.border-color-1 {
  border-color: #495057;
}
.border-color-2 {
  border-color: #ececec;
}

// padding
.px-6 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

// font-family
.font-proxima {
  font-family: "proxima_nova";
  font-style: normal;
}

.font-sfpro {
  font-family: "SF_Pro_Display";
  font-style: normal;
}
.font-quando {
  font-family: "Quando";
  font-weight: normal;
}

// width
.w-90 {
  width: 90% !important;
}
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-60 {
  width: 70% !important;
}
.w-70 {
  width: 70% !important;
}
.w-85 {
  width: 85% !important;
}
.w-80 {
  width: 80% !important;
}
.rounded-2 {
  border-radius: 0.5rem !important;
}

.w-max-content {
  width: max-content !important;
}
.h-max-content {
  height: max-content !important;
}

.resize-none {
  resize: none !important;
}
.mt-70 {
  margin-top: 70px !important;
}

.appearance-none::-webkit-outer-spin-button,
.appearance-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

// Slider
::-webkit-scrollbar {
  width: 5px;
}
// order active class
.order-active-shadow {
  box-shadow: 0 0.5rem 1rem rgba(48, 154, 211, 30%) !important;
  border-color: #309ad3 !important;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 10px;
  background: #002e5b;
}

// .container {
//   max-width: 1676px !important;
// }

@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css";

@media (max-width: 768px) {
  .px-6 {
    padding: unset !important;
  }
}
@media (max-width: 1200px) {
  .mt-70 {
    margin-top: 55px !important;
  }
}
