.order-items-box {
  min-height: max-content;
  max-height: 750px;
  overflow: auto;
  overflow-y: scroll;
}

@media (max-width: 1024px) {
  .order-items-box {
    min-height: max-content;
    max-height: 650px;
    overflow: auto;
    overflow-y: scroll;
  }
}
